In [141]:
# Before run this note please install follow packages
# pip3 install pandas pyarrow pandasql

# Q1
import pandas as pd
converters = {
    'lpep_pickup_datetime': lambda x : pd.to_datetime(x, format='%Y%m%d %H:%M:%S'),
    'Lpep_dropoff_datetime': lambda x : pd.to_datetime(x, format='%Y%m%d %H:%M:%S'),
    'Store_and_fwd_flag': lambda x : False if x == None else x == 'Y',
    'Ehail_fee': lambda x : 0 if not x else x,
    'Trip_type ': lambda x : -1 if not x else int(x)
}
df = pd.read_csv('green_tripdata_2013-09.csv', skiprows=[1,1], converters=converters).rename(columns=lambda x: x.strip().lower())
df.to_parquet('/tmp/green_tripdata_2013-09.parquet')
print("Converted!")

#Q2
import pandasql as ps
# JFK airport location
# Latitude: 40.6398262
# Longitude: -73.7787443 
minLat = 40.624299
maxLat = 41.675766
minLon = -74.803331
maxLon = -73.770735

bounding_box_query = """
case
when Pickup_longitude >= %(minLon)s and Pickup_longitude <= %(maxLon)s and Pickup_latitude >= %(minLat)s and Pickup_latitude <= %(maxLat)s then 1
when Dropoff_longitude >= %(minLon)s and Dropoff_longitude <= %(maxLon)s and Dropoff_latitude >= %(minLat)s and Dropoff_latitude <= %(maxLat)s then 2
else 0
end in_jfk
""" % {"minLon": minLon, "maxLon": maxLon, "minLat": minLat, "maxLat": maxLat}

query = """
SELECT df.*,
strftime('%H', lpep_pickup_datetime) as hour,
strftime('%w', lpep_pickup_datetime) as dow,
(strftime('%s', Lpep_dropoff_datetime) - strftime('%s', lpep_pickup_datetime)) as seconds_duration,
""" + bounding_box_query + " FROM df"

df1 = ps.sqldf(query, locals())
df1.to_parquet('/tmp/green_tripdata_2013-09_and_addition.parquet')
print("Done!")

Converted!
       vendorid        lpep_pickup_datetime       lpep_dropoff_datetime  \
0             2  2013-09-01 00:02:00.000000  2013-09-01 00:54:51.000000
1             2  2013-09-01 00:02:34.000000  2013-09-01 00:20:59.000000
2             2  2013-09-01 00:03:06.000000  2013-09-01 00:28:03.000000
3             2  2013-09-01 00:03:30.000000  2013-09-01 00:23:02.000000
4             2  2013-09-01 00:05:12.000000  2013-09-01 00:30:55.000000
...         ...                         ...                         ...
49642         2  2013-09-30 23:57:52.000000  2013-10-01 00:01:40.000000
49643         1  2013-09-30 23:57:57.000000  2013-10-01 00:08:56.000000
49644         2  2013-09-30 23:58:40.000000  2013-10-01 00:00:46.000000
49645         2  2013-09-30 23:59:41.000000  2013-10-01 00:12:10.000000
49646         2  2013-09-30 23:59:47.000000  2013-10-01 00:06:15.000000

       store_and_fwd_flag  ratecodeid  pickup_longitude  pickup_latitude  \
0                       0           1        -73.952408        40.810726
1                       0           1        -73.963020        40.711834
2                       0           1        -73.843460        40.755951
3                       0           1        -73.924812        40.754246
4                       0           1        -73.929504        40.756451
...                   ...         ...               ...              ...
49642                   0           1        -73.891472        40.746689
49643                   0           1        -73.960648        40.809834
49644                   0           1        -73.944916        40.834251
49645                   0           1        -73.952286        40.789814
49646                   0           1        -73.966194        40.804745

       dropoff_longitude  dropoff_latitude  passenger_count  ...  tip_amount  \
0             -73.983940         40.676285                5  ...       10.30
1             -73.966644         40.681690                1  ...        0.00
2             -73.989212         40.740528                1  ...        8.07
3             -73.978737         40.721504                1  ...        5.75
4             -73.856743         40.697037                1  ...        0.00
...                  ...               ...              ...  ...         ...
49642         -73.881325         40.744678                5  ...        0.00
49643         -73.948586         40.776398                1  ...        2.00
49644         -73.952332         40.824036                5  ...        0.00
49645         -73.977318         40.748329                1  ...        1.90
49646         -73.949768         40.822178                1  ...        0.00

       tolls_amount  ehail_fee  total_amount  payment_type  trip_type  hour  \
0              0.00          0         61.80             1         -1    00
1              0.00          0         16.00             2         -1    00
2              5.33          0         48.40             1         -1    00
3              0.00          0         28.75             1         -1    00
4              0.00          0         38.00             1         -1    00
...             ...        ...           ...           ...        ...   ...
49642          0.00          0          6.00             2         -1    23
49643          0.00          0         15.50             1         -1    23
49644          0.00          0          5.00             2         -1    23
49645          0.00          0         11.40             1         -1    23
49646          0.00          0          8.50             2          1    23

       dow  seconds_duration  in_jfk
0        0              3171       1
1        0              1105       1
2        0              1497       1
3        0              1172       1
4        0              1543       1
...    ...               ...     ...
49642    1               228       1
49643    1               659       1
49644    1               126       1
49645    1               749       1
49646    1               388       1

[49647 rows x 24 columns]
Done!